hdbscan==0.8.22
jsonlines==1.2.0
tabulate==0.8.3
matplotlib==3.0.3
numpy==1.16.2
scipy==1.2.1
anytree==2.6.0
dask==1.1.4
umap_learn==0.3.9
whatthelang==1.0.1
textblob==0.15.3
spacy==2.1.4
pandas==0.24.2
overrides==1.9
more_itertools==6.0.0
nostril.egg==info
torch==1.1.0
apex==0.1
dataset==1.1.2
setuptools==40.8.0
seaborn==0.9.0
h5py==2.9.0
nltk==3.4
aiofile==1.5.2
PyDictionary==1.5.2
allennlp==0.8.4
pyenchant==2.0.0
gensim==3.7.3
nostril==0.1.1
scikit_learn==0.21.2
typing==3.6.6
umap==0.1.1
