scipy==1.2.0
numpy==1.15.4
textblob==0.15.2
jsonlines==1.2.0
aiofile==1.5.1
setuptools==40.7.3
torch==1.0.1
seaborn==0.9.0
dataset==1.1.2
pandas==0.24.0
matplotlib==3.0.2
allennlp==0.8.1
h5py==2.9.0
more_itertools==5.0.0
nltk==3.4
overrides==1.9
typing==3.6.6
