umap_learn==0.3.8
dask==1.1.4
setuptools==40.8.0
numpy==1.16.3
gensim==3.7.3
matplotlib==3.0.3
more_itertools==6.0.0
anytree==2.6.0
tabulate==0.8.3
h5py==2.9.0
seaborn==0.9.0
overrides==1.9
scipy==1.3.0
textblob==0.15.3
pandas==0.24.2
dataset==1.1.2
whatthelang==1.0.1
aiofile==1.5.2
hdbscan==0.8.22
apex==0.1
jsonlines==1.2.0
nltk==3.4
spacy==2.1.4
torch==1.1.0
PyDictionary==1.5.2
allennlp==0.8.3
pyenchant==2.0.0
nostril==0.1.1
scikit_learn==0.21.2
typing==3.6.6
umap==0.1.1
